<header class="site-header" role="banner">

  <a href="{{ .Site.BaseURL }}">
    <img src="http://reseau-amap-hn.com/assets/logo/logo-amap-haut-normand-long.svg" alt="Logo de {{ .Site.Title }}">
    <span class="screen-reader">{{ .Site.Title }}</span>
  </a>

  <nav role="navigation" aria-label="Navigation principal">
    <ul class="nav">
      {{$menu := (.Site.Menus.nav)}}
      {{$len := (len $menu)}}

      {{ range $index, $element := $menu }}

        <li class="nav__item">
          <a class="nav__link" href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>

      {{ end }}

    </ul>
  </nav>
</header>
